/* Big tablet to 1200px (widths greater than the 1140px row) */
@media only screen and (max-width: 1200px){
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
  .row{
    padding: 0 2%;
  }

  
}
/* For small tablet to big tablet from 768px to 1023px */
@media only screen and (max-width: 1023px){
  
  body{
    font-size: 18px;
  }
  section{
    padding: 60px 0;
  }
  .logo{
    height: 85px;
  }
  .long-copy {
    width: 80%;
    margin-left: 10%;
  }
  .steps-box{
    margin-top: 10px;
  }
  .steps-box:last-child{
    margin-top: 10px;
  }
  .works-step{
    margin-bottom: 40px;
  }
  .works-step:last-of-type{
    margin-bottom: 68px;
  }
  .app-screen{width: 50%;}
  .icon-small{
    width: 15px;
    margin-right: 5px;
  }
  .city-feature{font-size: 85%;}

  .plan-box{
    width: 100%;
    margin-left: 0%;
    font-size: 90%;
  }
  .contact-us{width: 80%;}
}
/* For small phones to small tablets from 481 to 767 px */
@media only screen and (max-width: 767px){
  body{font-size: 16px;}
  section{padding: 30px 0;}
  h1{font-size: 180%;}
  h2{font-size: 150%;}
  .hero-text-box,
  .row{padding: 0 4%;}
  .col{
    width: 100%;
    margin: 0 0 4% 0;
  }
  
  .main-nav{display: none;}

  .mobile-nav i{display: inline-block}
  .main-nav{
    float: left;
    margin-top: 10px;
    
  }
  .main-nav li{display: block;}

  .main-nav li a:link,
  .main-nav li a:visited{
    display: block;
    border: none;
    padding: 10px 0;
    font-size: 100%;
  }

  .sticky .main-nav{margin-top: 10px;}
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited {padding: 10px 0;}
  .sticky .mobile-nav i{
    margin-top: 10px;
    color: #555;
  }
  
  .long-copy {
    width: 100%;
    margin-left: 0%;
  }
  .works-step{
    margin-bottom: 20px;
  }
  .works-step:last-of-type{
    margin-bottom: 48px;
  }
  .app-screen{width: 40%;}
  .works-step div{
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 120%;
  }
  .steps-box:first-child{
    text-align: center;
    padding-right: 3%;
  }
  blockquote::before{
    content: "\201C";
    font-size: 450%;
    display: block;
    position: absolute;
    top: 15px;
    left: -3px;
  }
  .contact-us{width: 100%;}
}
/* For small phones from 0 to 480 px */
@media only screen and (max-width: 480px){
  
}