* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	background-color: #ffffff;
	color: #555555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}
.row {
	max-width: 1140px;
	margin: 0 auto;
}
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url(img/hero.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
h1 {
	margin: 0;
	margin-bottom: 30px;
	font-size: 240%;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
}

.btn:link,
.btn:visited {
	border: 1px solid #e67e22;
	font-weight: 300;
	padding: 10px 30px;
	border-radius: 200px;
	text-decoration: none;
	transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:link,
.btn-full:visited {
	background-color: #e67e22;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	color: #e67e22;
}

.btn:hover,
.btn:active {
	background-color: #924d10;
	border: 1px solid #924d10;
}

.btn-ghost:hover,
.btn-ghost:active {
	color: #fff;
}
